In [1]:
import pandas as pd

In [16]:
df1 = pd.read_csv('강원.csv')
df2 = pd.read_csv('경기.csv')
df3 = pd.read_csv('경북.csv')
df4 = pd.read_csv('대구.csv')
df5 = pd.read_csv('부산.csv')
df6 = pd.read_csv('서울.csv')
df7 = pd.read_csv('울산.csv')
df8 = pd.read_csv('인천.csv')
df9 = pd.read_csv('충남.csv')
df0 = pd.read_csv('충북.csv')

In [36]:
df1.to_csv('강원.csv', index=False)
df2.to_csv('경기.csv', index=False)
df3.to_csv('경북.csv', index=False)
df4.to_csv('대구.csv', index=False)
df5.to_csv('부산.csv', index=False)
df6.to_csv('서울.csv', index=False)
df7.to_csv('울산.csv', index=False)
df8.to_csv('인천.csv', index=False)
df9.to_csv('충남.csv', index=False)
df0.to_csv('충북.csv', index=False)

In [34]:
df8 = pd.read_csv('인천.csv', encoding='cp949')

In [35]:
df8

,attr,1,2,3,4,5,6,7,8,9,...,191,192,193,194,195,196,197,198,199,200
0,인천차이나타운,5,2,5,4,5,5,0,1,5,...,2,4,4,4,1,0,2,2,0,5
1,트라이보울,0,3,3,2,2,3,2,5,0,...,0,4,1,3,4,4,8,5,4,1
2,인천 자유공원,0,3,1,0,2,1,5,5,0,...,5,2,2,1,3,4,8,5,5,0
3,송월동 동화마을,5,5,5,4,5,3,0,0,5,...,1,1,3,5,0,5,1,1,2,5
4,월미도,5,5,3,4,3,5,0,0,5,...,4,0,4,4,0,1,1,3,0,5
5,송도 커널워크,2,1,1,0,1,3,1,5,1,...,3,1,0,2,4,3,4,5,5,1
6,동춘터널 전망대,1,0,0,0,0,3,4,4,2,...,1,2,2,1,3,0,7,4,5,1
7,인천대교,0,0,2,0,2,1,5,5,0,...,5,0,0,1,3,0,7,5,4,1
8,인천 상륙 작전 기념관,4,5,5,5,5,4,0,0,5,...,0,1,4,4,0,0,0,0,0,5
9,신포 국제시장,3,4,3,5,5,5,1,1,5,...,5,5,4,5,0,5,1,0,3,5